---
// For static build: meta refresh redirect to default locale
// For SSR: Astro.redirect would work
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/de/" />
    <link rel="canonical" href="/de/" />
    <title>MareSphere - Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/de/">MareSphere</a>...</p>
  </body>
</html>
